{% extends "base.html" %}
{% load url from future %}
{% load i18n imagekit %}

{% block title %}
    {{ attraction.name }}
{% endblock %}

{% block content %}
    <div class="event-details">
        <header class="panel-heading">
            <h1>
                {{ attraction.name }} 
                <span class="attraction-parent">
                    / <a href="{% url "events.views.event_details" attraction.event.id %}">{{ attraction.event }}</a>
                </span>
            </h1>
            <small>{{ attraction.category }}</small>
        </header>

        <div class="event-details-content">
            <div class="event-details-meta">
                {% if attraction.get_logo %}
                    {% thumbnail '100x100' attraction.get_logo -- class="thumbnail" %}
                {% endif %}
            </div>
            <div class="event-details-data">
                {% include "events/partials/time_interval.html" with start_date=attraction.start_date end_date=attraction.end_date %}

                <div>
                    <strong>{% trans "Place:" %}</strong> {{ attraction.place }}
                </div>

                <div>
                    {% if attraction.description  %}
                        <p>
                            {{ attraction.description }}
                        </p>
                    {% endif %}
                </div>




                <div class="action-buttons">
                    <a href="{% url "events.views.edit_attraction" attraction.event.id attraction.id %}">{% trans "Edit attraction" %}</a>
                    <form method='post' action='{% url "dynamic_forms.views.add_dynamic_form" 'attraction' attraction.id %}'>
                        {% csrf_token %}
                        <button type='submit'>{% trans "Add registration form" %}</button>
                    </form>
                    <form method='post' action='{% url "events.views.delete_attraction" attraction.event.id attraction.id %}'>
                        {% csrf_token %}
                        <button type='submit' class='delete-button'>{% trans "Delete attraction" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
