{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% block title %}
    {{ attraction.attraction_name|capfirst }}
{% endblock %}
{% block content %}
    <div>
        <a href="{% url "events.views.edit_attraction" event.id attraction.id %}">{% trans "Edit" %}</a>
    </div>
    <div>
        <a href="{% url "events.views.event_details" event.id %}">{% trans "Back to the event" %}</a>
    </div>
    <div>
        {{ attraction.attraction_name|capfirst }}
    </div>
    <div>
        {% if attraction.attraction_description  %}
            {{ attraction.attraction_description }}
        {% endif %}
    </div>
    <div>
        {{ attraction.attraction_place }}
    </div>
    <div>
        {{ attraction.attraction_start_date|date:"d.m.Y" }} 
        {% ifnotequal attraction.attraction_start_date attraction.attraction_end_date %}
            - {{ attraction.attraction_end_date|date:"d.m.Y" }}
        {% endifnotequal %}
    </div>
    <div>
        {% trans "Categories: " %}
        {% for category in attraction.attraction_categories.all %}
            {{ category }}{% if not forloop.last %}, 
                {% else %}.
                {% endif %}
        {% endfor %}
    </div>
{% endblock %}
