{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {{ event.event_name|capfirst }}
{% endblock %}
{% block content %}
    <div>
        <a href="{% url "events.views.edit_event" event.id %}">{% trans "Edit" %}</a>
    </div>
    <div>
        {{ event.event_name|capfirst }}
    </div>
    <div>
        {{ event.event_start_date|date:"d.m.Y" }} 
        {% ifnotequal event.event_start_date event.event_end_date %}
            - {{ event.event_end_date|date:"d.m.Y" }}
        {% endifnotequal %}
    </div>
    <div>
        {% if event.event_description %}
            {{ event.event_description }}
        {% endif %}
    </div>
    <div> 
        {% if event.event_website %}
            {{ event.event_website }}
        {% endif %}
    </div>
    <div> 
        {% trans "Organizer: " %}{{ organizer.organizer_name }}
    </div>
    <div>
        {% trans "Attractions: " %}
        {% for attraction in all_attractions %}
            <a href="{% url "events.views.attraction_details" event.id attraction.id %}">{{ attraction }}</a>{% if not forloop.last %}, 
                {% else %}.
                {% endif %}
        {% endfor %}
    </div>
    <div>
        {% trans "Categories: " %}
        {% for category in event.categories.all %}
            {{ category }}{% if not forloop.last %}, 
                {% else %}.
                {% endif %}
        {% endfor %}
    </div>
{% endblock %}
