django>=1.6.0
git+https://github.com/zeroos/django-categories.git
psycopg2
hg+https://bitbucket.org/patchfly/django-registration
django-imagekit==3.2
django-softdelete==0.3.4
django-hstore==1.2.2
django-guardian==1.1.1
pillow==2.3.0
django-positions==0.5.1
sphinx
