label {
    display: block;
    margin-bottom: 0;
}
form.form-small input:not([type="checkbox"]), form textarea, select {
    .form-control;
}
form.form-small textarea {
    height: 100px;
}

.form-alone {
    margin: 60px auto 0;
}

.form-small {
    .form-alone;
    max-width: 300px;
}

form.form-small button[type="submit"] {
    .btn;
    .btn-primary;
    .btn-block;
}
form.form-small button[type="submit"] {
    .btn-lg;
}

form .delete-button {
    .btn;
    .btn-sm;
    .btn-danger;
    width: auto;
}
